* {
	padding: 0;
	margin: 0;
	font-family: pt-sans-caption, sans-serif;
	font-weight: 400;
	font-style: normal;
	scroll-behavior: smooth;
}

.logo {
	width: 192px;
	height: 144px;
}

.bold_font {
	font-size: larger;
	font-weight: 700;
}

.f-1 {
	font-size: 20px;
}

.view_height_50 {
	height: 50vh;
	width: auto;
}

.view_height_25 {
	height: 25vh;
	width: auto;
}

.center_text {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.height_split {
	height: 50%;
}
